body {
	margin-top: 0;
	/*background-color: #5EC3F9;*/
	background-color:#396a0a;
	background-image: url('images/bk.jpg');
	background-repeat:repeat-x;
	
}

p, div, span, input, textarea, select, a, optgroup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}


#header {
	width: 850px;
	margin: 0 auto;
	padding: 0;
}
#content {
	width: 850px;
	margin: 5px auto;
	display: block;
	border-radius: 20px 20px 20px 20px;
	border: 1px solid #ccc;
	background: white;
}

#azul{
	color: #001B6B;
}

#rosa{
	color:#F31BDE;
}

#pad{
	padding-left:25px;
}

#content2 {
	width: 850px;
	margin: 0 auto;
	display: table;
}

.title {
	padding: 5px;
	font-size: 15px;
	background: #6aa94b;
	color: #FFF;
}

.rojo{
	font-family: Arial;
	font-size: 13px;
	color: #990000;
}

.verde{
	font-family: Arial;
	font-size:12px;
	color:#003300;
}

.titulogris{
		font-family: Arial;
		font-size: 13px;
		color: #454744;
}

.rojo{
	background: #990000;
	font-family: tahoma;
	color:white;
	font-size: 15px;
	padding: 5px;
}

.centrar{
		text-align: center;
}

.derecha{
		text-align: right;
}

/* estilo del menu de botones */
#cuadro{
	margin: 0 auto;
	padding: 0;
	display: block;
/*	background: #003300;*/
	float: left;
	width: 820px;
	margin-top: 5px;
	margin-left: 10px;
	
}

#j{
	text-align: center;
	color: red;
	font-family: Arial;
	font-size: 16px;
}

#ini{
	width:128px;
	height: 62px;
	float: left;
	margin: 0 auto;
	/*background: red;*/
}

#men{
	width: 139px;
	height: 62px;
	float: left;
	margin: 0 auto;
	/*background: blue;*/
	
}

#exit{
	width:115px;
	height: 62px;
	float: right;
	margin: 0 auto;
/*	background: black;*/
	
}


/* old */
.table {
	margin: 0;
	padding: 0;
	border-collapse:collapse;
}
.table td {
 	font-size:12px;
}
.title2 {
	margin: 5px;
	padding: 5px;
	font-size: 14px;
	background: #999;
	color: #FFF;
}
.title2 td {
	color: #000;
}

input, select, textarea {
	-moz-border-radius: 5px;
	background-color:#eafbe2;
	text-align:left;
	border: #6aa94b 1px solid;
	font-size: 12px;
	padding: 2px;
}
/* form, img { */
	border: 0;
	margin: 0;
}

.blue {
	margin: 5px;
	padding: 5px;
	font-size: 14px;
	background: #E0EBF3;
}

.gris{
		background-color: #555555;
		color: #fff;
		padding: 2px;
		font-family: Tahoma;
		font-size:13px;
}

.textblack{
	color: #000000;
	font-family: tahoma;
	font-size: 13px;
}

.inone {
	border: 0;
}
.Estilo1 {
	font-size: 24px;
	color: #990000;
}
.Estilo4 {
	color: #FFFFFF;
}
.Estilo5 {
	font-family: Tahoma;
	font-size: 13px;
	color: #FFFFFF;
}
.Estilo6 {
	color: #990000;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #990000;
}
a:active {
	text-decoration: none;
	color: #000000;
}

.options {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}
.options li {
	margin-left: 250px;
	margin-top: 25px;
}

#tmenu {
	padding: 5px;
	display: none;
	position: absolute;
	width: 840px;
	height: 80px;
	background: green;
	margin-top: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#menu {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}
#menu li {
	float: left;
	width: 24.5%;
	margin: 2px;
	border-radius: 7px;
	-moz-border-radius: 7px;
}
#menu li a {
	display: block;
	padding: 3px;
	text-align: center;
	background: #DDD;
		border-radius: 5px;
	-moz-border-radius: 5px;
}
#menu li a:hover {
	background: #39D746;
	text-decoration: none;
}

.a_center {
	text-align: center;
}
.a_left {
	text-align: left;
}
.a_right {
	text-align: right;
}
.sub {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.p_mid {
	padding: 10px;
}

.float-holder:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

/******************************************************/
/*                    etilo de reportes               */

#caja{
	width:100%;
	min-height: 500px;
	float: left;
/*	background: red;*/
}

/* acordion del final */

h2.acc_trigger {
    padding: 0; margin: 0 0 5px 0;
    height: 46px;   line-height: 46px;
    width: 100%;
    font-size: 2em;
    font-weight: normal;
    float: left;
	background-color:#003300;
}
h2.acc_trigger a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 0 0 25px;
    font-size: 16px;
}
h2.acc_trigger a:hover {
    color: #ccc;
}
h2.active {background-position: left bottom;}
.acc_container {
    margin: 0 0 5px; padding: 0;
    overflow: hidden;
    font-size: 1.2em;
    width: 100%;
    clear: both;
    background: #f0f0f0;
    border: 1px solid #d6d6d6;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.acc_container .block {
    padding: 20px;
font-family:tahoma;
font-size:11px;
}